<div class="containers">
  <div class="jumbotron">

    <div class="text-center img">
      <h4><%= flash[:notice] %></h4>

      <h1><%= @artist.name %></h1>
      <%= image_tag @artist.image_path %>
    </div>

  </div>
  <nav class="navbar navbar-default text-center">
    <h4><%= link_to "All Artists", artists_path %> - <%= link_to "Delete Artist", artist_path(@artist), method: :delete  %> - <%= link_to "Edit Artist", edit_artist_path(@artist)%></h4>
    <h4><%= link_to "New Song", new_artist_song_path(@artist) %></h4>
    <h4><%= link_to "Playlists", playlists_path %></h4>
  </nav>
</div>
